name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          user: OshimPathan
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Kathmandu
          
          filename: github-metrics.svg
          
          plugin_languages: yes
          plugin_languages_limit: 8
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          
          plugin_lines: yes
